@font-face {
  font-family: "immortal";
  src: url("font/immortal-webfont.woff2") format("woff2"), url("font/immortal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1.3rem "immortal", sans-serif;
  --font-link-color: #4874ee;
  --font-link-hover-color: #0c2365;
  --font-link-focus-color: green;
  --valid-box-color: green;
  --error-box-color: red;
  --standard-blue-color: #a1b6ed;
  --form-bg-color: rgb(244, 239, 239);
}

.container {
  display: flex;
  justify-content: space-between;
  max-height: 50%;
}

.side-container {
  max-width: 5%;
  background-color: black;
}

.form-container {
  width: 65%;
  background-color: var(--form-bg-color);
  flex-grow: 3;
  min-height: 30vh;
  flex-shrink: 1;
}

.img-container {
  width: 25vw;
  position: relative;
}

.bg-img {
  height: 100vh;
  background-image: url(./img/jelly-2.jpg);
  background-size: cover;
  background-position: 100%;
}

.logo {
  position: absolute;
  top: 25vh;
  filter: contrast(500%);
  width: 100%;

}

.button-container {
  max-height: 20%;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
}

.sign-up-form {
  height: 40%;
  padding-bottom: 5vh;
}

.form-intro,
.button-container {
  background-color: rgb(244, 242, 242);
  padding: 20px;
}
 
strong {
  font-weight: bolder;
}

.form-intro {
  max-height: 35%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 50px;
}

p {
  padding: 10px;
}

.sign-up-form {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px darkgray;
  margin-bottom: 3px;
  padding-right: 20%;
}

button {
  padding: 10px 25px 10px 25px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px lightgray;
  margin-bottom: 10px;
  color: var(--font-link-color);
  font-size: .8rem;
}


.button-container {
  padding-left: 35px;
  padding-top: 30px;
  width: 100%;
}

a {
  color: var(--font-link-color);
}

a:hover,
button:hover {
  color: var(--font-link-hover-color);
  cursor: pointer;
}

a:focus,
button:focus {
  color: var(--font-link-focus-color);
}

legend {
  padding-top: 10px;
  padding-left: 65px;
  width: 100%;
}

input {
  border-radius: 3px;
  border: rgb(207, 207, 207) 1px solid;
  margin-bottom: 20px;
  max-width: 60%;
}

input:focus {
  border: var(--font-link-color) 1px solid; 
}

input:valid {
  border: var(--valid-box-color) 2px solid; 
  /* TODO need to update so only checks after user leaves box */
}

input:invalid {
  border: var(--error-box-color) 2px solid;
}

input:placeholder-shown {
  border: var(--standard-blue-color) 2px solid;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 3px;
}

label {
  margin-bottom: 2px;
  font-size: 0.6rem;
  align-self: flex-start;
  margin-left: 108px;

}

li {
  display: flex;
  flex-flow: column;
  padding: 2px;
  width: 50%;
  align-items: center;
  padding: ;
}

input + span {
  position: relative;
}

input:valid + span::after {
  position: absolute;
  content: "✅";
  bottom: 20px;
  right: -35px;
}


input::placeholder {
  font-size: 0.65rem;
  color: lightgray;
}


input[type="tel"]:invalid + span::before {
  position: absolute;
  content: "Phone number should be in this format: 123-456-7890";
  font-size: 0.5rem;
  background-color: black;
  color: white;
  padding: 2px;
  bottom: 0px;
  left: 10px;
}

input[type="password"]:invalid + span::before {
  position: absolute;
  content: "Password must contain 8 characters";
  font-size: 0.5rem;
  background-color: black;
  color: white;
  padding: 2px;
  bottom: 0px;
  left: 10px;
}

input[type="tel"]:focus + span::before,
input[type="password"]:focus + span::before {
  content: " ";
  background-color: var(--form-bg-color);
  width: 0%;
  height: 0%;
}

input[type="tel"]:focus + span::after,
input[type="text"]:focus + span::after,
input[type="password"]:focus + span::after,
input[type="email"]:focus + span::after,
input[type="text"]:placeholder-shown + span::before,
input[type="email"]:placeholder-shown + span::before,
input[type="password"]:placeholder-shown + span::before,
input[type="tel"]:placeholder-shown + span::before  {
  content: " ";
  background-color: var(--form-bg-color);
  width: 0%;
  height: 0%;
}

input[type="text"]:placeholder-shown + span::after,
input[type="email"]:placeholder-shown + span::after,
input[type="password"]:placeholder-shown + span::after,
input[type="tel"]:placeholder-shown + span::after {
  content: " ";
}

input:invalid + span::after {
  position: absolute;
  /* content: url(./img/warning.png);
 */
  content: "❗";
  bottom: 20px;
  right: -30px;
  padding-left: 1px;
  padding-right: 1px;
}

