@font-face {
  font-family: "immortal";
  src: url("font/immortal-webfont.woff2") format("woff2"), url("font/immortal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1rem "immortal", sans-serif;
  --font-link-color: #4874ee;
  --font-link-hover-color: #0c2365;
  --font-link-focus-color: green;
  --valid-box-color: green;
  --error-box-color: red;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.side-container {
  width: 5%;
  background-color: black;
}

.form-container {
  width: 65%;
  background-color: rgb(244, 239, 239);
}

.img-container {
  width: 30%;
  position: relative;
}

.bg-img {
  height: 100vh;
  background-image: url(./img/jelly-2.jpg);
  background-size: cover;
  background-position: 100%;
}

.logo {
  position: absolute;
  top: 25vh;
  filter: contrast(500%);

}


.button-container {
  height: 29%;
}

.sign-up-form {
  height: 36%;
  padding-bottom: 20px;
}

.form-intro,
.button-container {
  background-color: rgb(244, 242, 242);
  padding: 20px;
}
 
strong {
  font-weight: bolder;
}

.form-intro {
  height: 35%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 50px;
}

p {
  padding: 10px;
}

.sign-up-form {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px darkgray;
  margin-bottom: 3px;
  padding-right: 20%;
  
}

button {
  padding: 10px 25px 10px 25px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px lightgray;
  margin-bottom: 10px;
  color: var(--font-link-color);
  font-size: .8rem;
}


.button-container {
  padding-left: 35px;
  padding-top: 30px;
}

a {
  color: var(--font-link-color);
}

a:hover,
button:hover {
  color: var(--font-link-hover-color);
}

a:focus,
button:focus {
  color: var(--font-link-focus-color);
}

legend {
  padding-top: 10px;
  padding-left: 65px;
  width: 100%;
}

label,
input {
}

input {
  border-radius: 3px;
  border: rgb(207, 207, 207) 1px solid;

  margin-bottom: 10px;
}

input:focus {
  border: var(--font-link-color) 1px solid; 
}

input:valid {
  border: var(--valid-box-color) 2px solid; 
  /* TODO need to update so only checks after user leaves box */
}

input:invalid {
  border: var(--error-box-color) 2px solid;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 3px;
  padding: 10px;
  justify-content: space-around;
}

label {
  margin-bottom: 2px;
  font-size: 0.6rem;
}

li {
  display: flex;
  flex-flow: column;
  padding: 2px;
}

input + span {
  position: relative;
}

input:required + span::after   {
  position: absolute;
  /* content: url(./img/warning.png);
 */
 content: "❗";
 color: var(--error-box-color);
 bottom: 10px;
 right: -25px;
 padding-left: 1px;
 padding-right: 1px;



}

