@font-face {
  font-family: "immortal";
  src: url("font/immortal-webfont.woff2") format("woff2"), url("font/immortal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 1rem "immortal", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.side-container {
  width: 5%;
  background-color: black;
}

.form-container {
  width: 65%;
  background-color: rgb(244, 239, 239);
}

.img-container {
  width: 30%;
  position: relative;
}

.bg-img {
  height: 100vh;
  background-image: url(./img/milky-way.jpg);
  background-size: cover;
  background-position: center center;
}

.logo {
  position: absolute;
  top: 25vh;
}